<style>
  input[type="file"] {
    display: block !important;
  }
  .swal2-container input[type="file"] {
    display: none !important;
  }
</style>
<main class="container mt-3 mb-3">
  <h3>Quản lý Sản phẩm</h3>
  <hr />
  <ul class="nav nav-tabs" id="productTab" role="tablist">
    <li class="nav-item" role="presentation">
      <button
        class="nav-link active"
        id="edit-tab"
        data-bs-toggle="tab"
        data-bs-target="#edit"
        type="button"
        role="tab"
        aria-controls="edit"
        aria-selected="true"
      >
        Chỉnh sửa
      </button>
    </li>
    <li class="nav-item" role="presentation">
      <button
        class="nav-link"
        id="list-tab"
        data-bs-toggle="tab"
        data-bs-target="#list"
        type="button"
        role="tab"
        aria-controls="list"
        aria-selected="false"
      >
        Danh sách
      </button>
    </li>
  </ul>

  <!-- Tab Content -->
  <div class="tab-content" id="productTabContent">
    <!-- Tab: Chỉnh sửa -->
    <div
      class="tab-pane fade show active"
      id="edit"
      role="tabpanel"
      aria-labelledby="edit-tab"
    >
      <form
        action="/admin/product/index"
        method="post"
        th:object="${product}"
        enctype="multipart/form-data"
      >
        <div class="row">
          <div class="col-6">
            <div class="mb-2">
              <label for="id" class="form-label">ID</label>
              <input
                th:field="*{id}"
                type="text"
                name="id"
                id="id"
                class="form-control form-control-sm"
                placeholder="ID Sản phẩm"
                readonly
              />
            </div>
          </div>
          <div class="col-6">
            <div class="mb-2">
              <label for="productName" class="form-label">Tên Sản phẩm</label>
              <input
                th:field="*{name}"
                type="text"
                name="name"
                id="productName"
                class="form-control form-control-sm"
                placeholder="Tên sản phẩm"
              />
            </div>
          </div>
        </div>
        <!--  -->
        <div class="row">
          <div class="col-6">
            <div class="mb-2">
              <label for="price" class="form-label">Giá</label>
              <input
                th:field="*{price}"
                type="text"
                name="price"
                id="price"
                class="form-control form-control-sm"
                placeholder="Giá sản phẩm"
              />
            </div>
          </div>
          <div class="col-6">
            <div class="mb-2">
              <label for="quantity" class="form-label">Số lượng</label>
              <input
                th:field="*{quantity}"
                type="number"
                name="quantity"
                id="quantity"
                class="form-control form-control-sm"
                placeholder="Số lượng"
              />
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <div class="mb-2">
              <label for="productCategoryId" class="form-label"
                >Danh mục sản phẩm</label
              >
              <select
                th:field="*{category}"
                name="categoryid"
                id="productCategoryId"
                class="form-control form-control-sm"
              >
                <option
                  th:each="category : ${categories}"
                  th:value="${category.id}"
                  th:text="${category.name}"
                ></option>
              </select>
            </div>
          </div>
          <div class="col-6">
            <div class="mb-2">
              <label for="createDate" class="form-label">Ngày tạo</label>
              <input
                th:field="*{createDate}"
                type="date"
                name="createDate"
                id="createDate"
                class="form-control form-control-sm"
              />
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <div class="mb-2">
              <label for="description" class="form-label">Mô tả</label>
              <textarea
                th:field="*{description}"
                name="description"
                id="description"
                class="form-control form-control-sm"
                placeholder="Mô tả sản phẩm"
              ></textarea>
            </div>
          </div>
          <div class="col-6">
            <div class="mb-2">
              <label class="form-label">Trạng thái</label>
              <div class="form-check">
                <input
                  th:field="*{available}"
                  value="true"
                  class="form-check-input"
                  type="radio"
                  name="available"
                  id="statusYes"
                />
                <label for="statusYes" class="form-check-label">Còn hàng</label>
              </div>
              <div class="form-check">
                <input
                  th:field="*{available}"
                  value="false"
                  class="form-check-input"
                  type="radio"
                  name="available"
                  id="statusNo"
                />
                <label for="statusNo" class="form-check-label">Hết hàng</label>
              </div>
            </div>
          </div>
        </div>
        <div class="col-6">
          <div class="mb-2">
            <img
              id="preview"
              th:src="@{|/photos/${product.image}|}"
              alt="Ảnh sản phẩm"
              class="img-fluid rounded shadow mb-3"
              style="max-width: 50%; height: auto"
            />
            <input
              type="file"
              name="photoFile"
              id="image"
              class="form-control form-control-sm"
              placeholder="Hình ảnh"
              onchange="previewImage(event)"
            />
          </div>
        </div>
        <div class="row mt-4 text-end">
          <div class="col">
            <button
              class="btn btn-sm btn-primary"
              formaction="/admin/product/create"
            >
              <i class="fa fa-plus"></i> Create
            </button>
            <button
              class="btn btn-sm btn-warning"
              formaction="/admin/product/update"
            >
              <i class="fa fa-edit"></i> Update
            </button>
            <a
              th:href="@{|/admin/product/delete/${product.id}|}"
              class="btn btn-sm btn-danger"
              onclick="return confirm('Bạn có chắc muốn xóa?')"
              ><i class="fa fa-trash"></i> Delete</a
            >
            <a href="/admin/product/index" class="btn btn-sm btn-success">
              <i class="fa fa-sync"></i> Reset
            </a>
          </div>
        </div>
      </form>
    </div>

    <!-- Tab: Danh sách -->
    <div
      class="tab-pane fade"
      id="list"
      role="tabpanel"
      aria-labelledby="list-tab"
    >
      <div class="table-responsive">
        <table class="table table-striped table-hover">
          <thead class="table-dark">
            <tr>
              <th>ID</th>
              <th>Tên Sản phẩm</th>
              <th>Giá</th>
              <th>Số lượng</th>
              <th>Danh mục</th>
              <th>Ngày tạo</th>
              <th>Trạng thái</th>
              <th>Hình ảnh</th>
              <th>Mô tả</th>
              <th>Hành động</th>
            </tr>
          </thead>
          <tbody th:each="product : ${products}">
            <tr>
              <td th:text="${product.id}"></td>
              <td th:text="${product.name}"></td>
              <td
                th:text="${#numbers.formatDecimal(product.price, 0, 'COMMA', 0, 'POINT')}"
              ></td>
              <td th:text="${product.quantity}"></td>
              <td th:text="${product.category.name}"></td>
              <td th:text="${product.createDate}"></td>
              <td th:text="${product.available ? 'Còn hàng' : 'Hết hàng'}"></td>
              <td>
                <img
                  th:src="@{|/photos/${product.image}|}"
                  alt="Ảnh sản phẩm"
                  width="50"
                  height="50"
                />
              </td>
              <td th:text="${product.description}"></td>
              <td>
                <a
                  class="btn btn-sm btn-info mb-1"
                  th:href="@{|/admin/product/edit/${product.id}|}"
                  ><i class="fa fa-edit"></i> Sửa</a
                >
                <a
                  th:href="@{|/admin/product/delete/${product.id}|}"
                  class="btn btn-sm btn-danger"
                  onclick="return confirm('Bạn có chắc muốn xóa?')"
                >
                  <i class="fa fa-trash"></i> Xóa</a
                >
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <!-- Phân trang -->
      <div class="d-flex justify-content-center mt-3">
        <nav>
          <ul class="pagination">
            <li
              class="page-item"
              th:classappend="${currentPage == 0} ? 'disabled'"
            >
              <a class="page-link" th:href="@{|/admin/product/index?page=0|}"
                >First</a
              >
            </li>
            <li
              class="page-item"
              th:classappend="${currentPage == 0} ? 'disabled'"
            >
              <a
                class="page-link"
                th:href="@{|/admin/product/index?page=${currentPage - 1}|}"
                >Previous</a
              >
            </li>
            <li
              class="page-item"
              th:each="i : ${#numbers.sequence(0, totalPages - 1)}"
              th:classappend="${currentPage == i} ? 'active'"
            >
              <a
                class="page-link"
                th:href="@{|/admin/product/index?page=${i}|}"
                th:text="${i + 1}"
              ></a>
            </li>
            <li
              class="page-item"
              th:classappend="${currentPage + 1 == totalPages} ? 'disabled'"
            >
              <a
                class="page-link"
                th:href="@{|/admin/product/index?page=${currentPage + 1}|}"
                >Next</a
              >
            </li>
            <li
              class="page-item"
              th:classappend="${currentPage + 1 == totalPages} ? 'disabled'"
            >
              <a
                class="page-link"
                th:href="@{|/admin/product/index?page=${totalPages - 1}|}"
                >Last</a
              >
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</main>
<script>
  function previewImage(event) {
    var reader = new FileReader();
    reader.onload = function () {
      var output = document.getElementById("preview");
      output.src = reader.result;
    };
    reader.readAsDataURL(event.target.files[0]);
  }
</script>
<script>
  document.addEventListener("DOMContentLoaded", function () {
    const form = document.querySelector("form");
    form.addEventListener("submit", function () {
      setTimeout(() => {
        window.location.reload();
      }, 1000);
    });
  });
</script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
  window.onload = function () {
    let success = "[[${success}]]";
    let error = "[[${error}]]";

    if (success && success !== "null") {
      Swal.fire({
        icon: "success",
        title: "Thành công!",
        text: success,
        timer: 3000,
        timerProgressBar: true,
        showConfirmButton: false,
        showCloseButton: true,
      });
    }

    if (error && error !== "null") {
      Swal.fire({
        icon: "error",
        title: "Lỗi!",
        text: error,
        timer: 3000,
        timerProgressBar: true,
        showConfirmButton: false,
        showCloseButton: true,
      });
    }
  };
</script>
