<main class="container d-flex justify-content-center mt-5 mb-5">
  <form action="/auth/login" method="post">
    <div class="card" style="width: 500px">
      <div class="card-body border-warning bg-success-subtle">
        <h5 class="card-title text-dark fw-bolder fs-4 text-center">Login</h5>
      </div>
      <div class="p-3">
        <label for="username" class="form-label">Username?</label>
        <input
          type="text"
          class="form-control form-control-sm"
          name="username"
          id="username"
          placeholder="Vui lòng nhập username"
        />
      </div>
      <div class="p-3">
        <label for="password" class="form-label">Password?</label>
        <input
          type="password"
          class="form-control form-control-sm"
          name="password"
          id="password"
          placeholder="Vui lòng nhập password"
        />
      </div>
      <div class="row">
        <div class="col-7">
          <div class="form-check ms-3 mb-2">
            <input
              class="form-check-input p-2"
              type="checkbox"
              name="remember"
              id="remember"
              checked
            />
            <label class="form-check-label" for="remember">Remember me?</label>
          </div>
        </div>
        <div class="col">
          <div class="ms-5 mb-2">
            <a class="text-decoration-none" href="/account/forgot-password"
              >Forgot password?</a
            >
          </div>
        </div>
      </div>
      <div class="ms-3 mb-2">
        <button
          type="button"
          class="btn btn-sm btn-danger"
          onclick="window.location.href='/home'"
        >
          <i class="fa fa-times me-2"></i>Hủy bỏ
        </button>
        <button type="submit" class="btn btn-sm btn-primary text-end">
          <i class="fa-solid fa-right-to-bracket me-2"></i>Đăng nhập
        </button>
      </div>
      <div class="ms-3 mb-2">
        Bạn chưa có tài khoản?<a
          class="text-decoration-none"
          href="/account/sign-up"
          >Đăng ký ngay</a
        >
      </div>
    </div>
  </form>
</main>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
  window.onload = function () {
    let success = "[[${success}]]";
    let error = "[[${error}]]";

    if (success && success !== "null") {
      Swal.fire({
        icon: "success",
        title: "Thành công!",
        text: success,
        timer: 3000, // Tự đóng sau 3 giây
        timerProgressBar: true, // Hiển thị thanh tiến trình
        showConfirmButton: false,
        showCloseButton: true, // Hiển thị dấu "X" để đóng tay
      });
    }

    if (error && error !== "null") {
      Swal.fire({
        icon: "error",
        title: "Lỗi!",
        text: error,
        timer: 3000, // Tự đóng sau 3 giây
        timerProgressBar: true, // Hiển thị thanh tiến trình
        showConfirmButton: false,
        showCloseButton: true, // Hiển thị dấu "X" để đóng tay
      });
    }
  };
</script>
